#newPointer_chromeConnect {
  z-index: 1000000000;
  position: absolute;
  visibility: visible;
  top: 0;
  right: 0;
  width:13px;
  pointer-events:none;
}

#testSpash{
  z-index: 1000000000;
  position: absolute;
  width: 200px;
  height:200px;
  top:0;
  left:0;
  fill: #3080d0;

}
